<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trang tìm kiếm sản phẩm</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet" type="text/css" />

    <style>
        body {
            background-color: rgb(243, 239, 239);
        }
        
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        
        .topnav {
            overflow: hidden;
            background-color: #e9e9e9;
        }
        
        .topnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            width: 150px;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        
        .topnav a.active {
            background-color: #2196F3;
            color: white;
        }
        
        .topnav .search-container {
            margin-left: 350px;
        }
        
        .topnav input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }
        
        .topnav .search-container button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }
        
        .topnav .search-container button:hover {
            background: #ccc;
        }
        
        * {
            box-sizing: border-box;
        }
        
        #ketquatimkiem .hieuung {
            border: none;
        }
        
        #ketquatimkiem {
            width: 1415px;
            margin-right: 50px;
            margin-left: 50px;
            margin-top: 10px;
        }
        
        #ketquatimkiem .hieuung:hover {
            border: 1px solid rgb(211, 199, 199);
            opacity: 0.75;
        }
    </style>

</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div style="width: 1515px;height: 75px;background-color: red;display: flex;">
        <div style="float: left;width: 75px;height: 75px;margin-left: 30px;">
            <a href="#">
                <i class="fas fa-gem" style="color: gold;font-size: 35px;margin-top: 20px;margin-left: 20px;"></i>
            </a>
        </div>
        <div style="float: left;height: 75px;">
            <a href="#" style="text-decoration: none;">
                <div style="font-size: 20px;font-style: italic;color: yellow;font-weight: bold;margin-top: 22px;">
                    Thegioilaptop.com
                </div>
            </a>
        </div>
        <div style="float: left;margin-left: 550px;height: 75px;">
            <div style="text-align: center;margin-top: 10px;">
                <i class="fas fa-globe-asia" style="color: white;font-size: 30px;"></i>
            </div>
            <div style="color: white;font-weight: bold;">
                Hàng mỹ
            </div>
        </div>
        <div style="float: left;height: 75px;margin-left: 50px;">
            <div style="text-align: center;margin-top: 10px;">
                <i class="fas fa-newspaper" style="color: white;font-size: 30px;"></i>
            </div>
            <div style="color: white;font-weight: bold;">
                Giỏ hàng
            </div>
        </div>

        <div style="float: left;height: 75px;margin-left: 50px;">
            <div style="text-align: center;margin-top: 10px;">
                <i class="fas fa-user" style="color: white;font-size: 30px;"></i> 
            </div>
            <div style="color: white;font-weight: bold;">
                <a th:href="@{/trangkhachhang/trangthongtinkhachhang/{makh}(makh=${hoten})}" th:text="${hoten}" style="text-decoration: none;color: white;"></a>
            </div>
        </div>

        <div style="float: left;height: 75px;margin-left: 50px;">
            <div style="text-align: center;margin-top: 10px;">
                <i class="fas fa-sign-out-alt" style="color: white;font-size: 30px;"></i> 
            </div>
            <div style="color: white;font-weight: bold;">
                <a th:href="@{/dangxuat}" style="color: white;font-weight: bold;">Đăng xuất</a>
            </div>
        </div>
    </div>

    <!--search bar-->
    <div class="topnav bg-dark" style="display: flex;width: 1515px;">
        <a class="active" th:href="@{/trangchu}">Home</a>
        <a th:href="@{/tranglaptop}" style="color: white;">Laptop</a>
        <a th:href="@{/trangdienthoai}" style="color: white;">Điện thoại</a>
        <a href="#" style="color: white;">Máy tính bảng</a>
        <a href="#" data-toggle="modal" data-target="#tuongtacvoituvanvien" style="color: white;">Tư vấn, hỏi đáp</a>
        <div class="search-container">
            <form th:action="@{/trangtimkiemsanpham}">
                <input type="text" placeholder="Tên sản phẩm cần tìm..." name="tensanpham">
                <button type="submit">Tìm kiếm</button>
            </form>
        </div>
    </div>

    <div style="width: 1415px;margin-right: 50px;margin-left: 50px;margin-top: 10px;display: flex;">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
                <li data-target="#demo" data-slide-to="6"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/AnhNen/anh1.png" alt="Los Angeles" style="width: 1415px;height: 350px;">
                </div>
                <div class="carousel-item">
                    <img src="/AnhNen/anh2.png" alt="Chicago" style="width: 1415px;height: 350px;">
                </div>
                <div class="carousel-item">
                    <img src="/AnhNen/anh3.png" alt="New York" style="width: 1415px;height: 350px;">
                </div>
                <div class="carousel-item">
                    <img src="/AnhNen/anh4.png" alt="New York" style="width: 1415px;height: 350px;">
                </div>
                <div class="carousel-item">
                    <img src="/AnhNen/anh5.png" alt="New York" style="width: 1415px;height: 350px;">
                </div>
                <div class="carousel-item">
                    <img src="/AnhNen/anh6.png" alt="New York" style="width: 1415px;height: 350px;">
                </div>
                <div class="carousel-item">
                    <img src="/AnhNen/anh7.png" alt="New York" style="width: 1415px;height: 350px;">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <!--ket qua tim kiem-->
    <div id="ketquatimkiem">
        <!--hang thu nhat-->
        <th:block>
        	<div class="row">	           	            	
	        		<th:block th:each="dssp : ${danhsachsanpham}">
		            	<div th:if="${loaisanpham1} == 1" class="card hieuung" style="width: 25%;height: 450px;">	            		
			                <img class="card-img-top" th:src="@{${dssp.hinhanh}}" style="width:100%;height: 35%;padding-left: 50px;padding-right: 50px;margin-top: 30px;">
			                <div class="card-body">
			                    <div style="text-align: center;color: rgb(58, 58, 58);font-size: 15px;font-weight: bold;">
			                        <span th:utext="${dssp.tensanpham}"></span>
			                    </div>
			                    <div style="margin-top: 15px;background-color: red;border-radius: 5px;text-align: center;color: rgb(255, 255, 255);font-size: 16px;font-weight: bold;">
			                        <span th:utext="${dssp.gia} + ',000 USD'"></span>
			                    </div>
			                    <div style="border-radius: 10px;margin-top: 10px;padding-left: 45px;padding-bottom: 10px;background-color: rgb(221, 212, 212, 0.25);">
			                        <div style="clear: both;padding-top: 10px;">
			                            <i class="fas fa-memory" style="color: gray;">SSD <span th:utext="${dssp.dungluongbonho}"></span> GB</i>
			                            <i class="fas fa-microchip" style="margin-left: 15px;color: gray;"><span th:utext="${dssp.dungluongram}"></span> GB</i>
			                        </div>
			                        <div>
			                            <i class="fas fa-laptop" style="color: gray;"><span th:utext="${dssp.kichthuocmanhinh}"></span>''</i>
			                            <i class="fas fa-server" style="margin-left: 15px;color: gray;"><span th:utext="${dssp.congnghecpu}"></span></i>
			                        </div>
			                    </div>
			                    <div style="margin-top: 15px;padding-left: 40px;">
			                        <th:block th:if="${dssp.masanpham.contains('mt')}">
		                        		<a th:href="@{/trangchitietmaytinh/{masanpham}(masanpham=${dssp.masanpham})}" type="button" class="btn btn-primary">Xem chi tiết</a>	
		                        	</th:block>
		                        	<th:block th:if="${dssp.masanpham.contains('dt')}">
		                        		<a th:href="@{/trangchitietdienthoai/{masanpham}(masanpham=${dssp.masanpham})}" type="button" class="btn btn-primary">Xem chi tiết</a>	
		                        	</th:block>
		                        	
		                        	<th:block th:if="${vaitro} == 'ROLE_ADMIN'">
		                            	<a th:href="@{/trangquantri/trangsuathongtinsanpham/{masanpham}(masanpham=${dssp.masanpham})}" type="button" class="btn btn-success">Sửa thông tin</a>
		                            </th:block>     
		                            <th:block th:unless="${vaitro} == 'ROLE_ADMIN'">
		                            	<a href="#" type="button" class="btn btn-success">So sánh</a>
		                            </th:block>     
			                        
			                    </div>
			                </div>
			            </div>
			            
			            <div th:if="${loaisanpham1} == 2" class="card hieuung" style="width: 25%;height: 625px;">	            		
			                <img class="card-img-top" th:src="@{${dssp.hinhanh}}" style="width:100%;height: 55%;padding-left: 50px;padding-right: 50px;margin-top: 30px;">
			                <div class="card-body">
			                    <div style="text-align: center;color: rgb(58, 58, 58);font-size: 15px;font-weight: bold;">
			                        <span th:utext="${dssp.tensanpham}"></span>
			                    </div>
			                    <div style="margin-top: 15px;background-color: red;border-radius: 5px;text-align: center;color: rgb(255, 255, 255);font-size: 16px;font-weight: bold;">
			                        <span th:utext="${dssp.gia} + ',000 USD'"></span>
			                    </div>
			                    <div style="border-radius: 10px;margin-top: 10px;padding-left: 45px;padding-bottom: 10px;background-color: rgb(221, 212, 212, 0.25);">
			                        <div style="clear: both;padding-top: 10px;">
			                            <i class="fas fa-memory" style="color: gray;">SSD <span th:utext="${dssp.dungluongbonho}"></span> GB</i>
			                            <i class="fas fa-microchip" style="margin-left: 15px;color: gray;"><span th:utext="${dssp.dungluongram}"></span> GB</i>
			                        </div>
			                        <div>
			                            <i class="fas fa-laptop" style="color: gray;"><span th:utext="${dssp.kichthuocmanhinh}"></span>''</i>
			                            <i class="fas fa-server" style="margin-left: 15px;color: gray;"><span th:utext="${dssp.congnghecpu}"></span></i>
			                        </div>
			                    </div>
			                    <div style="margin-top: 15px;padding-left: 40px;">
			                        <th:block th:if="${dssp.masanpham.contains('mt')}">
		                        		<a th:href="@{/trangchitietmaytinh/{masanpham}(masanpham=${dssp.masanpham})}" type="button" class="btn btn-primary">Xem chi tiết</a>	
		                        	</th:block>
		                        	<th:block th:if="${dssp.masanpham.contains('dt')}">
		                        		<a th:href="@{/trangchitietdienthoai/{masanpham}(masanpham=${dssp.masanpham})}" type="button" class="btn btn-primary">Xem chi tiết</a>	
		                        	</th:block>
			                        <a href="./TrangDienThoai.html" type="button" class="btn btn-success">So sánh</a>
			                    </div>
			                </div>
			            </div>
		            </th:block>    	          
	        </div>
        </th:block>
       
    </div>

    <div style="background-color: white;overflow: auto;margin-top: 25px;display: flex;width: 1515px;">
        <div style="margin-right: 100px;margin-left: 100px;margin-top: 25px;overflow: auto;">

            <div style="float: left;margin-bottom: 25px;">
                <div>
                    <a style="font-size: 14px;" href="#">Giới thiệu về công ty</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Câu hỏi thường gặp mua hàng</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Chính sách bảo mật</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Quy chế hoạt động</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Kiểm tra hóa đơn điện tử</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Tra cứu thông tin bảo hành</a>
                </div>
            </div>

            <div style="float: left;margin-left: 50px;">
                <div>
                    <a style="font-size: 14px;" href="#">Tin tuyển dụng</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Tin khuyến mãi</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Hướng dẫn mua online</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Hướng dẫn mua trả góp</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Chính sách trả góp</a>
                </div>
            </div>

            <div style="float: left;margin-left: 50px;">
                <div>
                    <a style="font-size: 14px;" href="#">Hệ thống cửa hàng</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Hệ thống bảo hành</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Kiểm tra hàng Apple chính hãng</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Giới thiệu máy đổi trả</a>
                </div>
                <div>
                    <a style="font-size: 14px;" href="#">Chính sách đổi trả</a>
                </div>
            </div>

            <div style="float: left;margin-left: 50px;">
                <div>
                    <div>
                        Tư vấn mua hàng (miễn phí)
                    </div>
                    <div>
                        <a href="#" style="font-size: 20px;color: red;">1800 6601</a>
                    </div>
                </div>
                <div>
                    <div>
                        Góp ý, khiếu nại dịch vụ
                    </div>
                    <div>
                        <a href="#" style="font-size: 20px;color: red;">1800 6616</a>
                    </div>
                </div>
            </div>

            <div style="float: left;margin-left: 50px;">
                <div>
                    Hỗ trợ thanh toán
                </div>
                <div>
                    <i class="fab fa-cc-visa" style="font-size: 35px;color: rgb(58, 58, 255);"></i>
                    <i class="fab fa-cc-paypal" style="font-size: 35px;color: rgb(0, 0, 190);"></i>
                    <i class="fab fa-cc-stripe" style="font-size: 35px;color: red;"></i>
                </div>
            </div>

        </div>
    </div>

</body>

</html>