<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trang in biên lai</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        table {
            border: 0;
        }
        
        table td {
            padding: 5px;
        }
    </style>

</head>

<body>

    <div class="container" style="margin-top: 25px;background-color: rgb(255, 185, 185);padding-top: 10px;padding-bottom: 15px;border-radius: 15px;">
        <div align="center">
            <h2 style="color: black;">Thanh toán thành công, xin cảm ơn bạn đã mua sản phẩm này.</h2>
            <h2 style="color: black;">Tờ biên lai:</h2>
            <table style="color: black;margin-top: 15px;" class="table">
                <tr>
                    <td><b>Công ty:</b></td>
                    <td>Thế giới điện tử</td>
                </tr>
                <tr>
                    <td><b>Người trả:</b></td>
                    <td th:utext="${payer.firstName} + ' ' + ${payer.lastName}"></td>
                </tr>
                <tr>
                    <td><b>Mô tả:</b></td>
                    <td th:utext="${transaction.description}"></td>
                </tr>
                <tr>
                    <td><b>Tổng sản phẩm:</b></td>
                    <td th:utext="${transaction.amount.details.subtotal} + 'USD'"></td>
                </tr>
                <tr>
                    <td><b>Phí giao hàng:</b></td>
                    <td th:utext="${transaction.amount.details.shipping} + 'USD'"></td>
                </tr>
                <tr>
                    <td><b>Thuế:</b></td>
                    <td th:utext="${transaction.amount.details.tax} + 'USD'"></td>
                </tr>
                <tr>
                    <td><b>Tổng cộng:</b></td>
                    <td th:utext="${transaction.amount.total} + 'USD'"></td>
                </tr>
            </table>
            <a class="btn btn-primary" style="color: white;margin-top: 10px;" th:href="@{/trangchu}">Quay lại trang chủ</a>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>