<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Review</title>
<style type="text/css">
    table { border: 0; }
    table td { padding: 5px; }
</style>
</head>
<body>
<div align="center">
    <h1>Please Review Before Paying</h1>
    <form th:action="@{/trangkhachhang/tienhanhthanhtoanpaypal}" method="post">
    <table>
        <tr>
            <td colspan="2"><b>Transaction Details:</b></td>
            <td>
                <input type="hidden" name="paymentId" th:value="${param.paymentId}" />
                <input type="hidden" name="PayerID" th:value="${param.PayerID}" />
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td th:utext="${transaction.description}"></td>
        </tr>
        <tr>
            <td>Subtotal:</td>
            <td th:utext="${transaction.amount.details.subtotal}"> USD</td>
        </tr>
        <tr>
            <td>Shipping:</td>
            <td th:utext="${transaction.amount.details.shipping}"> USD</td>
        </tr>
        <tr>
            <td>Tax:</td>
            <td th:utext="${transaction.amount.details.tax}"> USD</td>
        </tr>
        <tr>
            <td>Total:</td>
            <td th:utext="${transaction.amount.total}"> USD</td>
        </tr>
        <tr><td><br/></td></tr>
        <tr>
            <td colspan="2"><b>Payer Information:</b></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td th:utext="${payer.firstName}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td th:utext="${payer.lastName}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:utext="${payer.email}"></td>
        </tr>
        <tr><td><br/></td></tr>
        <tr>
            <td colspan="2"><b>Shipping Address:</b></td>
        </tr>
        <tr>
            <td>Recipient Name:</td>
            <td th:utext="${shippingAddress.recipientName}"></td>
        </tr>
        <tr>
            <td>Line 1:</td>
            <td th:utext="${shippingAddress.line1}"></td>
        </tr>
        <tr>
            <td>City:</td>
            <td th:utext="${shippingAddress.city}"></td>
        </tr>
        <tr>
            <td>State:</td>
            <td th:utext="${shippingAddress.state}"></td>
        </tr>
        <tr>
            <td>Country Code:</td>
            <td th:utext="${shippingAddress.countryCode}"></td>
        </tr>
        <tr>
            <td>Postal Code:</td>
            <td th:utext="${shippingAddress.postalCode}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Pay Now" />
            </td>
        </tr>    
    </table>
    </form>
</div>
</body>
</html>