<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Trang check hóa đơn trước khi thanh toán</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        table {
            border: 0;
        }
        
        table td {
            padding: 5px;
        }
        
        .line {
            border-bottom: 1px solid black;
        }
    </style>
</head>

<body>

    <div class="container" style="margin-top: 25px;padding-top: 15px;padding-bottom: 15px;background-color: rgb(255, 243, 225);">
        <h2>Kiểm tra hóa đơn trước khi thanh toán</h2>
        <form th:action="@{/trangkhachhang/tienhanhthanhtoanpaypal}" method="post">
            <table>
                <tr>
                    <td colspan="2"><b>Payer Information:</b></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td th:utext="${payer.firstName}"></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td th:utext="${payer.lastName}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td th:utext="${payer.email}"></td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
            </table>
            <div class="line"></div>
            <table class="table">
                <tr>
                    <td colspan="2"><b>Chi tiết giao dịch:</b></td>
                    <td>
                        <input type="hidden" name="paymentId" th:value="${param.paymentId}" />
                        <input type="hidden" name="PayerID" th:value="${param.PayerID}" />
                    </td>
                </tr>
                <tr>
                    <td>Mô tả:</td>
                    <td th:utext="${transaction.description}"></td>
                </tr>
                <tr>
                    <td>Tổng sản phẩm:</td>
                    <td th:utext="${transaction.amount.details.subtotal}"> USD</td>
                </tr>
                <tr>
                    <td>Phí giao hàng:</td>
                    <td th:utext="${transaction.amount.details.shipping}"> USD</td>
                </tr>
                <tr>
                    <td>Thuế:</td>
                    <td th:utext="${transaction.amount.details.tax}"> USD</td>
                </tr>
                <tr>
                    <td>Tổng cộng:</td>
                    <td th:utext="${transaction.amount.total}"> USD</td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Địa chỉ giao hàng:</b></td>
                </tr>
                <tr>
                    <td>Tên người nhận:</td>
                    <td th:utext="${shippingAddress.recipientName}"></td>
                </tr>
                <tr>
                    <td>Đường:</td>
                    <td th:utext="${shippingAddress.line1}"></td>
                </tr>
                <tr>
                    <td>Thành phố:</td>
                    <td th:utext="${shippingAddress.city}"></td>
                </tr>
                <tr>
                    <td>Bang:</td>
                    <td th:utext="${shippingAddress.state}"></td>
                </tr>
                <tr>
                    <td>Mã quốc gia:</td>
                    <td th:utext="${shippingAddress.countryCode}"></td>
                </tr>
                <tr>
                    <td>Mã bưu điện:</td>
                    <td th:utext="${shippingAddress.postalCode}"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" class="btn btn-success" value="Thanh toán ngay" />
                    </td>
                </tr>
            </table>
        </form>

        <div class="line"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>